<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <logger name="jdbc.sqltiming">
        <level value="info" />
    </logger>
    <logger name="jdbc.connection">
        <level value="ERROR" />
    </logger>
    <logger name="jdbc.resultset">
        <level value="ERROR"/>
    </logger>
    <logger name="jdbc.audit">
        <level value="ERROR"/>
    </logger>
    <logger name="jdbc.sqlonly">
        <level value="ERROR"/>
    </logger>
    <logger name="jdbc.resultsettable" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="CONSOLE" />
    </logger>
    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
        <!--<appender-ref ref="FILE" />-->
    </root>
</configuration>